each category in categories
	if category.items.length
		div.js-css-info-category
			h2(id=category.name, style="margin: 0; padding-top: 1rem; padding-bottom: .5rem;")
				= category.title
				span.css-info-muted
					|  (
					span.js-css-info-category-count(data-category=category.name) 0
					| )
			- var items = category.items;
			include ./css-info-item-list.jade
